@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<DA_BAN_SACH.Models.Sach>

@{
    ViewBag.Title = "Index";
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="wrapper">
        <nav class=" navbar navbar-expand navbar-white navbar-light">
            @using (Html.BeginForm("Index", "NewProducts", FormMethod.Get, new { @class = "form-inline ml-3" }))
            {
                <div class="input-group input-group-sm" style="align-items:center;">
                    <span>Tìm sản phẩm: </span>
                    <input type="text" class="form-control form-control-navbar" placeholder="Tìm sản phẩm" name="SearchString" value="@ViewBag.CurrentFilter" aria-label="Tìm sản phẩm">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>

                </div>
            }

        </nav>
    </div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>DataTables</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                       
                        <p>@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success btn-block" })</p>
                    </div>
                    <div class="card-body">
                        <table id="example2" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Tên sách</th>
                                    <th>Giá bán</th>
                                    <th>Giảm giá</th>
                                    <th>Ảnh bìa</th>
                                    <th>Chủ đề</th>
                                    <th>Nhà xuất bản</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td width="20%">@item.TenSach</td>
                                        <td>@item.GiaBan.Value.ToString("#,##0 đ")</td>
                                        <td>@item.GiamGia</td>
                                        <td><img src="~/Images/@item.AnhBia" class="img-md" /></td>
                                        <td>@(item.ChuDe?.TenChuDe ??"NULL")</td>
                                        <td>@(item.NhaXuatBan?.TenNXB ?? "NULL")</td>

                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.MaSach }, new { @class = "btn btn-primary" }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.MaSach }, new { @class = "btn btn-success" }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.MaSach }, new { @class = "btn btn-danger" })
                                        </td>

                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Tên sách</th>
                                    <th>Giá bán</th>
                                    <th>Giảm giá</th>
                                    <th>Ảnh bìa</th>
                                    <th>Chủ đề</th>
                                    <th>Nhà xuất bản</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="card">
        <div class="card-body">
            <div class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info">
                            Page
                            @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7">


                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter, }), new PagedListRenderOptions()
                   {
                       ContainerDivClasses = new string[] { "pagination-container", "dataTables_paginate paging_simple_numbers" },
                       LiElementClasses = new string[] { "paginate_button", "page-item" },
                       ClassToApplyToFirstListItemInPager = "previous",
                       ClassToApplyToLastListItemInPager = "next",
                       LinkToNextPageFormat = "Next",
                       LinkToPreviousPageFormat = "Previous",

                       FunctionToTransformEachPageLink = (li, a) => { a.AddCssClass("page-link"); li.InnerHtml = a.ToString(); return li; }

                   })
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
