@model DA_BAN_SACH.Models.KhachHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/AdminPages/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <h2>Details</h2>

    <div>
        <h4>KhachHang</h4>
        <hr />
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.HoTen)</th>
                    <td>@Html.DisplayFor(model => model.HoTen)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.TaiKhoan)</th>
                    <td>@Html.DisplayFor(model => model.TaiKhoan)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.MatKhau)</th>
                    <td>@Html.DisplayFor(model => model.MatKhau)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DiachiKH)</th>
                    <td>@Html.DisplayFor(model => model.DiachiKH)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DienThoaiKH)</th>
                    <td>@Html.DisplayFor(model => model.DienThoaiKH)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.NgaySinh)</th>
                    <td>@Html.DisplayFor(model => model.NgaySinh)</td>
                </tr>
            </tbody>
        </table>

    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MaKH }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>